.newassignment {background-color: rgb(19, 163, 72);}
  img {border-radius: 25%; border-style: dashed; border-color: red;}
  H1 {text-align: center;}
  h1{text-align: center;}
  h2{text-align: center;}
  .newassignment{font-family: Arial, Helvetica, sans-serif;}
  .newassignment{cursor:crosshair;} 
 .pistachio {width: 200px; height: 250px;}